package auth

import (
	"encoding/base64"
	"fmt"
	"strings"
	"time"
)

templ MainComponent(view templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Mailcode v2</title>
			<link rel="stylesheet" href="/assets/styles.css"/>
			<script src="/assets/htmx.min.js"></script>
		</head>
		<body>
			<header class="bg-white shadow-md py-6 mb-8">
				<div class="container mx-auto flex justify-center">
					<h1 class="w-1/2 text-4xl font-extrabold text-gray-900">Mailcode v2</h1>
				</div>
			</header>
			<div class="container mx-auto">
				@view
			</div>
		</body>
	</html>
}

type Breadcrumb struct {
	Name string
	URL  string
}

var BaseBreadcrumbs = []Breadcrumb{
	{Name: "Home", URL: "/"},
	{Name: "Auth", URL: "/auth"},
}

templ breadcrumbs(items []Breadcrumb) {
	<nav class="text-sm font-medium text-gray-500 mb-4 flex justify-center">
		<ol class="list-reset flex md:w-3/4 lg:w-1/2">
			for i, item := range items {
				if i > 0 {
					<li><span class="mx-2">></span></li>
				}
				<li>
					if item.URL != "" {
						<a href={ templ.URL(item.URL) } class="hover:underline">{ item.Name }</a>
					} else {
						<span>{ item.Name }</span>
					}
				</li>
			}
		</ol>
	</nav>
}

templ authHome() {
	@breadcrumbs(BaseBreadcrumbs)
	<div class="flex justify-center py-4">
		<div class="w-1/2 flex flex-col justify-center py-4">
			<a href="/auth/basic/all" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 mb-4">
				Manage basic credentials
			</a>
			<a href="/auth/oauth2/all" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">
				Manage OAuth2 logins
			</a>
		</div>
	</div>
}

templ AuthHome() {
	@MainComponent(authHome())
}

templ oauth2CredsList(creds []OAuth2Credentials) {
	{{ b := append(BaseBreadcrumbs, Breadcrumb{"OAuth2", "/auth/oauth2/all"}) }}
	@breadcrumbs(b)
	<div class="py-4 flex justify-center">
		<div class="w-1/2 flex justify-center flex-col">
			<div class="w-full bg-white shadow-md rounded-lg p-4">
				<h2 class="text-xl font-bold">New logins</h2>
				<p class="text-gray-500 mb-4">Log into an email account with OAuth2 to watch it for authentication codes.</p>
				<div class="flex justify-left flex-col w-48">
					<a href="/auth/oauth2/google/login" class="mt-4 bg-blue-400 text-white py-2 px-4 rounded hover:bg-blue-300">
						Login with Google
					</a>
					<a href="/auth/oauth2/microsoft/login" class="mt-4 border-2 bg-blue-400 text-white py-2 px-4 rounded hover:bg-blue-300">
						Login with Microsoft
					</a>
				</div>
			</div>
			<div class="mb-10"></div>
			<div class="w-full bg-white shadow-md rounded-lg p-4">
				<h2 class="text-xl font-bold">Authenticated emails</h2>
				<table class="w-full border border-gray-300 mt-4">
					<thead>
						<tr>
							<th class="border-b border-gray-300 p-2">Email</th>
							<th class="border-b border-gray-300 p-2">Token Expired</th>
							<th class="border-b border-gray-300 p-2">Actions</th>
						</tr>
					</thead>
					<tbody>
						for _, cred := range creds {
							<tr>
								<td class="border-b border-gray-300 p-2">{ cred.User }</td>
								<td class="border-b border-gray-300 p-2 text-center">
									if cred.ExpiryDate.Before(time.Now()) {
										<span class="text-red-600 font-semibold">Yes</span>
									} else {
										No 
									}
								</td>
								<td class="border-b border-gray-300 p-2 flex justify-center">
									<a href={ templ.URL(fmt.Sprintf("/auth/oauth2/%s/login", cred.Provider)) } class="bg-blue-500 text-white py-2 px-4 rounded w-full text-center hover:bg-blue-700">
										Reauthenticate
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}

templ OAuth2CredsList(creds []OAuth2Credentials) {
	@MainComponent(oauth2CredsList(creds))
}

templ basicAuthCredsList(creds []BasicAuthCredentials) {
	{{ b := append(BaseBreadcrumbs, Breadcrumb{"Basic Authentication", "/auth/basic/all"}) }}
	@breadcrumbs(b)
	<div class="flex justify-center">
		<table class="w-1/2 border border-gray-300">
			<thead>
				<tr>
					<th class="border-b border-gray-300 p-2">Username</th>
					<th class="border-b border-gray-300 p-2">Password</th>
					<th class="border-b border-gray-300 p-2">Actions</th>
				</tr>
			</thead>
			<tbody>
				for _, cred := range creds {
					@basicAuthTableCell(cred)
				}
				<tr id="new-cred">
					<form class="w-full" hx-post={ "/auth/basic/new" } hx-target="#new-cred" hx-swap="beforebegin">
						<td class="border-b border-gray-300 p-2">
							<input class="w-full p-1 border border-gray-300 rounded-md" hx-on--after-request="this.reset()" type="text" name="username" placeholder="Username"/>
						</td>
						<td class="border-b border-gray-300 p-2">
							<input class="w-full p-1 border border-gray-300 rounded-md" hx-on--after-request="this.reset()" type="password" name="password" placeholder="Password"/>
						</td>
						<td class="border-b border-gray-300 p-2">
							<button class="w-full border-2 border-gray-500 bg-white text-black p-1 rounded-md" type="submit">Add</button>
						</td>
					</form>
				</tr>
			</tbody>
		</table>
	</div>
}

templ BasicAuthCredsList(creds []BasicAuthCredentials) {
	@MainComponent(basicAuthCredsList(creds))
}

templ basicAuthTableCell(cred BasicAuthCredentials) {
	{{ userBase64 := strings.TrimRight(base64.StdEncoding.EncodeToString([]byte(cred.User)), "=") }}
	<tr id={ fmt.Sprintf("cred-%s", userBase64) } class="hover:bg-gray-100 hover:cursor-pointer">
		<form class="w-full" hx-post={ string(templ.URL(fmt.Sprintf("/auth/basic/%s", cred.User))) } hx-target="this">
			<td class="border-b border-gray-300 p-2">
				<input class="w-full p-1 border border-gray-300 rounded-md" type="text" name="username" value={ cred.User } readonly/>
			</td>
			<td class="border-b border-gray-300 p-2">
				<input class="w-full p-1 border border-gray-300 rounded-md" type="password" name="password" value={ cred.Password }/>
			</td>
			<td class="border-b border-gray-300 p-2 flex space-x-2">
				<button class="w-full border-2 border-gray-500 bg-white text-black p-1 rounded-md" type="submit">Save</button>
				<button class="w-full border-2 border-red-500 bg-white text-red-500 p-1 rounded-md" hx-delete={ string(templ.URL(fmt.Sprintf("/auth/basic/%s", cred.User))) } hx-target={ fmt.Sprintf("#cred-%s", userBase64) } type="button" hx-swap="delete">Delete</button>
			</td>
		</form>
	</tr>
}
