package configs

import "fmt"

templ MainComponent(view templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Mailcode v2</title>
			<link rel="stylesheet" href="/assets/styles.css"/>
			<script src="/assets/htmx.min.js"></script>
		</head>
		<body>
			<header class="bg-white shadow-md py-6 mb-8">
				<div class="container mx-auto flex justify-center">
					<h1 class="w-1/2 text-4xl font-extrabold text-gray-900">Mailcode v2</h1>
				</div>
			</header>
			<div class="container mx-auto">
				@view
			</div>
		</body>
	</html>
}

type Breadcrumb struct {
	Name string
	URL  string
}

var BaseBreadcrumbs = []Breadcrumb{
	{Name: "Home", URL: "/"},
	{Name: "Emails", URL: "/emails"},
}

templ breadcrumbs(items []Breadcrumb) {
	<nav class="text-sm font-medium text-gray-500 mb-4 flex justify-center">
		<ol class="list-reset flex w-1/2">
			for i, item := range items {
				if i > 0 {
					<li><span class="mx-2">></span></li>
				}
				<li>
					if item.URL != "" {
						<a href={ templ.URL(item.URL) } class="hover:underline">{ item.Name }</a>
					} else {
						<span>{ item.Name }</span>
					}
				</li>
			}
		</ol>
	</nav>
}

templ emailList(emails []Email) {
	{{ b := append([]Breadcrumb{}, BaseBreadcrumbs...) }}
	@breadcrumbs(b)
	<div class="centered">
		<p class="text_bold">Emails</p>
		for _, email := range emails {
			<div class="email">
				<p class="email_user">{ email.User }</p>
			</div>
		}
	</div>
}

templ EmailList(emails []Email) {
	@MainComponent(emailList(emails))
}

templ emailForm(email *Email) {
	{{ em := email }}
	if em == nil {
		{{ em = NewEmail() }}
	}
	<div>
		@breadcrumbs(func() []Breadcrumb {
			b := append([]Breadcrumb{}, BaseBreadcrumbs...)
			if email == nil {
				b = append(b, Breadcrumb{Name: "New"})
				return b
			}
			return append(b, Breadcrumb{Name: email.User})
		}())
		<div class="flex justify-center py-4">
			<form class="w-1/2 flex flex-col space-y-6" action="/emails/new" method="post">
				<div class="relative w-1/2">
					<input class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" type="text" name="user" value={ em.User } placeholder=" "/>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">User</label>
				</div>
				<div class="relative w-1/2">
					<input class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" type="text" name="server" value={ em.IMAPServer } placeholder=" "/>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">Server</label>
				</div>
				<div class="relative w-1/2">
					<input class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" type="number" name="port" value={ fmt.Sprintf("%d", em.Port) } placeholder=" "/>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">Port</label>
				</div>
				<div class="relative w-1/2">
					<select class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" name="encryption">
						<option
							value={ EncryptionNone.String() }
							if em.Encryption == EncryptionNone {
								selected="1"
							}
						>None</option>
						<option
							value={ EncryptionStartTLS.String() }
							if em.Encryption == EncryptionStartTLS {
								selected="1"
							}
						>StartTLS</option>
						<option
							value={ EncryptionSSL.String() }
							if em.Encryption == EncryptionSSL {
								selected="1"
							}
						>SSL</option>
					</select>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">Encryption</label>
				</div>
				<div class="relative w-1/2">
					<input class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" type="text" name="inbox" value={ em.Inbox } placeholder=" "/>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">Inbox</label>
				</div>
				<div class="flex flex-col space-y-2">
					<input class="w-1/2 p-2 bg-blue-500 text-white rounded-md cursor-pointer hover:bg-blue-600" type="submit" value="Save"/>
					if email != nil {
						<input class="w-1/2 p-2 bg-red-500 text-white rounded-md cursor-pointer hover:bg-red-600" type="button" value="Delete" hx-delete="/emails/{em.User}"/>
					}
				</div>
			</form>
		</div>
	</div>
}

templ EmailForm(email *Email) {
	@MainComponent(emailForm(email))
}

templ errorView(msg string) {
	<p class="text-red-500">{ msg }</p>
}

templ ErrorView(msg string) {
	@MainComponent(errorView(msg))
}
