package configs

import "fmt"

templ MainComponent(view templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Mailcode v2</title>
			<link rel="stylesheet" href="/assets/styles.css"/>
			<script src="/assets/htmx.min.js"></script>
		</head>
		<body>
			<header class="bg-white shadow-md py-6 mb-8">
				<div class="container mx-auto flex justify-center">
					<h1 class="w-1/2 text-4xl font-extrabold text-gray-900">Mailcode v2</h1>
				</div>
			</header>
			<div class="container mx-auto">
				@view
			</div>
		</body>
	</html>
}

type Breadcrumb struct {
	Name string
	URL  string
}

var BaseBreadcrumbs = []Breadcrumb{
	{Name: "Home", URL: "/"},
	{Name: "Emails", URL: "/emails"},
}

templ breadcrumbs(items []Breadcrumb) {
	<nav class="text-sm font-medium text-gray-500 mb-4 flex justify-center">
		<ol class="list-reset flex md:w-3/4 lg:w-1/2">
			for i, item := range items {
				if i > 0 {
					<li><span class="mx-2">></span></li>
				}
				<li>
					if item.URL != "" {
						<a href={ templ.URL(item.URL) } class="hover:underline">{ item.Name }</a>
					} else {
						<span>{ item.Name }</span>
					}
				</li>
			}
		</ol>
	</nav>
}

templ emailList(emails []Email) {
	{{ b := append([]Breadcrumb{}, BaseBreadcrumbs...) }}
	@breadcrumbs(b)
	<div class="flex justify-center py-4">
		<div class="w-1/2">
			<div class="flex justify-between items-center mb-4">
				<h2 class="text-2xl font-bold text-gray-900">Emails</h2>
				<a href="/emails/new" class="bg-blue-500 text-white p-2 rounded-md cursor-pointer hover:bg-blue-600">New</a>
			</div>
			<table class="w-full border border-gray-300">
				<thead>
					<tr>
						<th class="border-b border-gray-300 p-2">User</th>
						<th class="border-b border-gray-300 p-2">Server</th>
						<th class="border-b border-gray-300 p-2">Port</th>
						<th class="border-b border-gray-300 p-2">Encryption</th>
						<th class="border-b border-gray-300 p-2">Inbox</th>
					</tr>
				</thead>
				<tbody>
					for _, email := range emails {
						<tr class="hover:bg-gray-100 hover:cursor-pointer" hx-get={ fmt.Sprintf("/emails/%s", email.User) }>
							<td class="border-b border-gray-300 p-2">{ email.User }</td>
							<td class="border-b border-gray-300 p-2">{ email.IMAPServer }</td>
							<td class="border-b border-gray-300 p-2">{ fmt.Sprintf("%d", email.Port) }</td>
							<td class="border-b border-gray-300 p-2">{ email.Encryption.String() }</td>
							<td class="border-b border-gray-300 p-2">{ email.Inbox }</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}

templ EmailList(emails []Email) {
	@MainComponent(emailList(emails))
}

templ emailForm(email *Email) {
	{{ em := email }}
	if em == nil {
		{{ em = NewEmail() }}
	}
	<div>
		@breadcrumbs(func() []Breadcrumb {
			b := append([]Breadcrumb{}, BaseBreadcrumbs...)
			if email == nil {
				b = append(b, Breadcrumb{Name: "New"})
				return b
			}
			return append(b, Breadcrumb{Name: email.User})
		}())
		<div class="flex justify-center py-4">
			<form class="w-1/2 flex flex-col space-y-6" action="/emails/new" method="post">
				<div class="relative md:w-3/4 lg:w-1/2">
					<input class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" type="text" name="user" value={ em.User } placeholder=" "/>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">User</label>
				</div>
				<div class="relative md:w-3/4 lg:w-1/2">
					<input class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" type="text" name="server" value={ em.IMAPServer } placeholder=" "/>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">Server</label>
				</div>
				<div class="relative md:w-3/4 lg:w-1/2">
					<input class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" type="number" name="port" value={ fmt.Sprintf("%d", em.Port) } placeholder=" "/>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">Port</label>
				</div>
				<div class="relative md:w-3/4 lg:w-1/2">
					<select class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" name="encryption">
						<option
							value={ None.String() }
							if em.Encryption == None {
								selected="1"
							}
						>{ None.String() }</option>
						<option
							value={ StartTLS.String() }
							if em.Encryption == StartTLS {
								selected="1"
							}
						>{ StartTLS.String() }</option>
						<option
							value={ SSL.String() }
							if em.Encryption == SSL {
								selected="1"
							}
						>{ SSL.String() }</option>
					</select>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">Encryption</label>
				</div>
				<div class="relative md:w-3/4 lg:w-1/2">
					<input class="w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-blue-500 peer" type="text" name="inbox" value={ em.Inbox } placeholder=" "/>
					<label class="absolute left-2 top-2 text-gray-500 transition-all transform -translate-y-7 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75">Inbox</label>
				</div>
				<div class="flex flex-col space-y-2">
					<input class="md:w-3/4 lg:w-1/2 p-2 bg-blue-500 text-white rounded-md cursor-pointer hover:bg-blue-600" type="submit" value="Save"/>
					if email != nil {
						<input class="md:w-3/4 lg:w-1/2 p-2 bg-red-500 text-white rounded-md cursor-pointer hover:bg-red-600" type="button" value="Delete" hx-delete={ string(templ.URL(fmt.Sprintf("/emails/%s", em.User))) }/>
					}
				</div>
			</form>
		</div>
	</div>
}

templ EmailForm(email *Email) {
	@MainComponent(emailForm(email))
}

templ errorView(msg string) {
	@breadcrumbs(BaseBreadcrumbs)
	<div class="flex justify-center py-4">
		<p class="text-red-500">{ msg }</p>
	</div>
}

templ ErrorView(msg string) {
	@MainComponent(errorView(msg))
}
